@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

/*TODO LIST (11/11):
- Stylize button:hover?
- responsive design for screen sizes 1280px, 640px, iphone size
*/

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: url('./assets/bg-guess-the-word.png');
  background-size: cover;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background: #030616;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  width: 450px;
}

.display {
  background: #4a5567;
  border: none;
  border-radius: 0.5rem;
  color: #97a3b6;
  font-size: 2rem;
  font-weight: 500;
  filter: drop-shadow(0 5px #030616);
  margin: 2rem 0;
  padding: 1rem;
}

.letter-display {
  margin: 0 0.5rem;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4a5567;
  font-weight: 600;
  font-size: 0.75rem;
  margin: 0 2rem;
}

.try-container {
  display: inherit;
  align-items: center;
  margin-right: 2rem;
}

.mistakes-container {
  margin-left: 2rem;
}

.circles {
  display: inherit;
}

.step-circle {
  background: #4a5567;
  border-radius: 8px;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.2rem;
}

.completed {
  background: #7429c6;
}

.mistake {
  color: #97a3b6;
  font-size: 1rem;
}

.input {
  display: inline-flex;
  margin: 3rem 0;
}

.letter-input {
  background: inherit;
  border: 2px solid #4a5567;
  border-radius: 0.5rem;
  color: #f2f5f9;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 0.25rem;
  height: 2.75rem;
  width: 2.75rem;
  text-align: center;
  outline: none;
}

.letter-input:focus {
  border: 2px solid #672171;
  outline: none;
}

button {
  background: #c951e7;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #f2f5f9;
  font-size: 0.875rem;
  font-weight: 400;
  filter: drop-shadow(0 5px #672171);
  padding: 0.65rem 2.5rem;
  margin: 0 1rem;
}

@media (max-width: 641px) {
  html {
    background-position: center center;
  }
}

@media (max-width: 376px) {
  html {
    background-position: center center;
  }

  .container {
    width: 320px;
  }

  .display {
    font-size: 1.75rem;
    padding: 0.75rem;
  }

  .letter-display {
    margin: 0 0.2rem;
  }

  .progress {
    display: inline-block;
    margin: 0 auto;
  }

  .try-container {
    display: inline-flex;
    margin: inherit;
  }

  .mistakes-container {
    margin: inherit;
  }

  .input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .letter-input {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
  }

  .btns {
    display: inline-flex;
    justify-content: space-between;
  }

  button {
    font-size: 0.75rem;
    padding: 0.5rem 1.25rem;
    margin: 0 0.5rem;
  }
}
